.products--grid{
    display:flex;
    flex-direction: column;
    padding-top:15px;
}

//tablets
@media screen and (min-width:40em) and (max-width:63.9em){
.products--grid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 20px;
}

}

//web
@media screen and (min-width:46em){
    .products--grid{
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 20px;
    }
}


//Tablet Chrome Responsive
@media screen and (min-width:768px) and (max-width:1023px){
    .products--grid{
        display:grid;
        grid-template-columns: repeat(2,1fr);
        grid-gap: 10px;
    }
    
    }

//Laptop Chrome Responsive
@media screen and (min-width:1024px) and (max-width:1439px){
    .products--grid{
        display:grid;
        grid-template-columns: repeat(3,1fr);
        grid-gap: 10px;
    }
    

    }


    // >4k Chrome Responsive
@media screen and (min-width:2560px){
    .products--grid{
        display:grid;
        grid-template-columns: repeat(6,1fr);
        grid-gap: 10px;
    }
    
    }


    .product-detail {
        overflow-y: scroll;
        position: fixed;
        top: 0;
        left: 40%;
        bottom: 0;
        right: 0;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transition: all ease-out .5s;
        transform: translateX(100%);
        box-shadow: -7px 3px 15px -3px rgba(0,0,0,0.75);
        -webkit-box-shadow: -7px 3px 15px -3px rgba(0,0,0,0.75);
        -moz-box-shadow: -7px 3px 15px -3px rgba(0,0,0,0.75);
        z-index:1031;
        &.active{
          transform: translateX(0);
        }
      }
      
      .product-detail-data-container{
        display:flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-right: 0px;
        margin-left: 0px;
      }

      .product-detail-rating{
        display: flex;
        flex-direction: row;
        align-items: start;
        justify-content: start;
        top:0;
        margin-top: 0;
      }

      .close-button-container{
        display: flex;
        flex-direction: row;
        align-items:center;
        position: absolute;
        top:10px;
        
      }

        .product-detail-title{
            font-size:1.25em;
            text-align: left;
            font-weight: 600;
        }

        .product-detail-category{
            font-size:.7em;
        }

        .product-detail-img{
            width: 120px;
            text-align: center;
            margin:auto;
        }
        .product-detail-description{
            font-size:1em;
            padding-left:0;
            margin:10px;
        }
        .product-detail-button{
            cursor:pointer;
        }

        /*Close button*/
        .product-detail-button  .fa-circle-xmark  span{
            font-size: .5em;
            padding-left:3px;
        }
