<nav class="navbar navbar-dark navbar-expand-md  bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img class="yard-sale-logo" src="../../../assets/icons/yard_sale_logo.png" alt="logo">
            <span>Yard Sale</span>
        </a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav text-left text-white ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link active" href="#">All</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Clothes</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="#">Electronics</a></li>

            </ul>
            <ul class="nav navbar-nav text-white ml-auto">
                <li class="nav-item pr-3" role="presentation">neocosmic@gmail.com <a href=""><i class="fa-solid fa-circle-chevron-down"></i></a></li>
                <li class="pr-2"><div class="total-cart">{{total|currency}}</div></li>
                <li class="nav-item" role="presentation">
                    
                <div class="cart">
                    <div>{{counter}}</div>
                        <a class="cart-link" href="">
                            <img class="cart-icon" src="../../../assets/icons/shoppingcart.png" alt="">
                        </a>
                </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- <div class="show-mobile">
    <div>
        <button>
            <img width="25" src="../../../assets/icons/menuicon.png" alt="menu icon">
    </button>
    <a href="">
        <img width="100" src="../../../assets/icons/yard_sale_logo.jpg" alt="logo">
    </a>
    <a href="">
        <img width="25" src="../../../assets/icons/shoppingcart.png" alt="shopping cart">
    </a>
</div>
</div>
<div class="hide-mobile">
    <nav>
        <a class="logo" href="">
            <img width="160" src="../../../assets/icons/yard_sale_logo.jpg" alt="logo">
        </a>
        <ul>
            <li><button class="btn btn-primary">test</button></li>
            <li class="nav--menu-item">All</li>
            <li class="nav--menu-item">Clothes</li>
            <li class="nav--menu-item">Electronics</li>
        </ul>
    </nav>
    <div class="info">
        <div class="account">neocosmic@gmail.com</div>
        <div>
            <a href="">
                <img width="30" src="../../../assets/icons/shoppingcart.png" alt="shopping cart">
            </a>
        </div>
    </div>
</div> -->